<template name="messages">
  <h1>Messages for <b>{{location.name}}</b></h1>
  {{#each messages}}
    {{> _message}}
  {{else}}
    No messages...
  {{/each}}

  <h2>Create a new message...</h2>
  {{> quickForm collection="Messages" id="insertMessageForm" type="insert"}}
</template>