<template name="layout">
  {{> header}}
  <div class="main-container container">
    <div id="main" class="container">
      <div class="bootstrap-alerts"></div>
      {{> yield}}
    </div>
  </div>
</template>