<template name="profile">
  <form id="update-user">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" value="{{userEmail}}">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" value="{{currentUser.profile.name}}">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select id="location" class="form-control">
        {{#each locations}}
          {{#if equals currentUser.profile.locationId _id}}
            <option selected value="{{_id}}">{{name}}</option>
          {{else}}
            <option value="{{_id}}">{{name}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>
