<template name="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <i class="fa fa-check-square-o"></i> The Locations
        </a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/profile"><i class="fa fa-tasks"></i> My profile</a></li>
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>